# Dependencies
node_modules/
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for uploaded files
uploads/
uploads/*
!uploads/.gitkeep

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db 